    <div class="container">
        <p class="signature"><em>- Website by Damien Fangous</em></p>
    </div>

    <script src="/scripts/textHandler.js"></script>
    <script src="/scripts/navBehavior.js"></script>
</body>
</html>