<% include ./partials/header %>

<div class="article container">
    <div class="row">
        <div class="col-12">
            <img height="auto" width="100%" src="/images/BOKIDA_BANNER.png"/>
        </div>
    </div>
    
    <div class="row justify-content-center">
      <h1 class="center to-fill">BOKIDA - HEARTFELT REUNION | PC GAME (2013-2017)</h1>
    </div>

    <!--CONTEXT-->
    <div class="row justify-content-center">
        <div class="col-4 align-self-center divider"></div>
        <div class="col-md-2 col-sm-12">
            <h2 class="to-fill">Context</h2>
        </div>
        <div class="col-4 align-self-center divider"></div>
    </div>

  <div class="row justify-content-center mb-article">
      <div class="col-md-8 col-sm-12 justify-content-center">
          <p class="to-fill">Bokida – Hertfelt Reunion is an adventure game with puzzle elements set in a minimalist open world.</p>
          <p class="to-fill">At the beginning <strong>Bokida</strong> was a student project, seeing the potential of the concept we decided to keep working on it and release it as a full length game.</p>
          <p class="to-fill">I worked on it for its whole duration, 4 years and 6 months, from the concept to the release. Because of the way we worked and communicated, I have been able to experience every aspect of the development, the production side as well as the administration and community management side.</p>
          <p class="to-fill">We had weekly meetings with the whole team to keep everyone informed on the tasks of each and collect feedbacks, opinions and to make collegial decisions. We also had daily meetings with people with whom we worked on the same feature.</p>
      </div>
  </div>

  <!--MY TASKS-->
  <div class="row justify-content-center">
      <div class="col-4 align-self-center divider"></div>
      <div class="col-md-2 col-sm-12">
          <h2 class="to-fill">My Tasks</h2>
      </div>
      <div class="col-4 align-self-center divider"></div>
  </div>

  <div class="row justify-content-center">
      <div class="col-auto">
          <p class="to-fill">I assumed several roles along the production cycle :</p>
      </div>
  </div>

  <div class="row justify-content-center mb-article">
        <div class="col-md-5 col-sm-12">
            <h3 class="to-fill">Playtests</h3>
            <p class="to-fill">When we entered the beta stage, I managed the playstests. We recruited most of our candidates through social media. Our goal was to get has many constructive feedbacks as possible.</p>
            <p class="to-fill">To do so I chose to use a discord server to gather and discuss with the playtesters. This way I was able to discuss directly with them and get more details on their experience. Having a common and instantaneous plateform allowed them to discuss, share and compare their experience, thus creating retention and will to participate. I then collected and summarized their feedbacks to advise the rest of the team on how to improve the game.</p>
        </div>

      <div class="col-md-4 col-sm-12">
          <h3 class="to-fill">Level Design</h3>
          <p class="to-fill">I was also in charge of the level design of several interactive zones. I worked closely with the lead designer, we had an iterative process that allowed us to test our ideas quickly. This meant that I had to built my levels carefully to be able to work on one part without having to change the ones approved.</p>
          <p class="to-fill">I also helped the programmers with the integration part, following their guidelines, nomenclature and testing my builds on my side.</p>
      </div>

      <div class="col-md-3 col-sm-12">
          <h3 class="to-fill">Test QA</h3>
          <p class="to-fill">Through out the second half of the project I did QA test. I set up the bug tracker and managed it, checking and validating corrected bugs, reporting the ones I found and rewriting or detailing the ones other members found when needed.</p>
          <p class="to-fill">We sorted the bugs by priority and type so everyone knew which bug concerned them and which one they should correct first.</p>
      </div>
  </div>

  <!--WHAT I LEARNED-->
    <div class="row justify-content-center">
        <div class="col-3 align-self-center divider"></div>
        <div class="col-md-4 col-sm-12">
            <h2 class="to-fill">What I Learned</h2>
        </div>
        <div class="col-3 align-self-center divider"></div>
    </div>

    <div class="row justify-content-center mb-article">
        <div class="col-md-5 col-sm-12">
            <img  src="/images/BOKIDA_370-256_1.png">
        </div>
        <div class="col-md-7 col-sm-12">
            <p class="to-fill">I had to do tasks for which I had no experience or little training and had to learn on the job (such as coordinating playtest, 3D animation and 3D modeling). I dreaded doing those as I wasn’t sure I would be able to deliver satisfying and usable results. My approach was to set achievable goals and aim futher each iteration (doing pertinent research and tutorial to improve), this way I was able to develop new skills and reach satisfying results. I am now much less apprehensive about getting into tasks that seem beyond my current skill.</p>    
            <p class="to-fill">I’ve seen a whole digital project development cycle, and quite a long one. A big challenge was to stay motivated through the whole duration of the project. I had to learn how to discipline myself and stay focused instead of being motivated. I never worked on a project longer than a few months before Bokida and never met the limit of my motivation to work on a project. This might be the most usefull skill a learned.</p>
        </div>
    </div>

    <!--WHAT I WOULD DO DIFFERENTLY-->
    <div class="row justify-content-center">
        <div class="col-2 align-self-center divider"></div>
        <div class="col-md-6 col-sm-12">
            <h2 class="to-fill">What I Would Do Differently</h2>
        </div>
        <div class="col-2 align-self-center divider"></div>
    </div>

    <div class="row justify-content-center mb-article">
        <div class="col-md-7 col-sm-12">
            <p class="to-fill">I would do a more rigorous tasks tracking through production documents or tools like SCRUM with trello. We have lost a lot of time repeating or forgetting tasks said oraly during a meeting. We should have set up a tool to keep track of everyone’s tasks. I should have done it more rigourisly on my side too.</p>
            <p class="to-fill">Better time management on my side. Working at home it is hard to discern free time and work time. When you do not work you can feel guilty for not working. I tried to put some fixed working period during the day but working with people in different time zone, it was not always possible to respect those periods. I should have taken a more flexible approach, setting a work duration per day and tracking it to better manage my work time and my free time.</p>
        </div>

        <div class="col-md-5 col-sm-12">
            <img height="256px" width="100%" src="/images/BOKIDA_370-256_2.png">
        </div>
    </div>
    
    
    <div class="row justify-content-center mb-article">
        <!-- CREDITS -->
        <div class="col-md-6 col-sm-12">
            <div class="row justify-content-center">
                <div class="col-2 align-self-center divider"></div>
                <div class="col-md-4 col-sm-12">
                    <h2 class="to-fill">Credits</h2>
                </div>
                <div class="col-2 align-self-center divider"></div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <ul>
                        <li>ARNAUD VANNIER</li>
                        <li>ROMAIN PECHOT</li>
                        <li>GAUTIER JACQUET</li>
                        <li>AURELIEN HULOT</li>
                        <li>VINCENT LEVY</li>
                        <li>DAMIEN FANGOUS</li>
                        <li>XAVIER DANG</li>
                        <li>DELPHINE FOURNEAU</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- LINKS -->
        <div class="col-md-6 col-sm-12">
            <div class="row justify-content-center">
                <div class="col-2 align-self-center divider"></div>
                <div class="col-md-4 col-sm-12">
                    <h2 class="to-fill">Links</h2>
                </div>
                <div class="col-2 align-self-center divider"></div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <p>
                        <span class="to-fill">(EN) Offical website: </span>
                        <br>
                        <a href="http://bokida.com/">http://bokida.com/</a>
                    </p>
                    <p>
                        <span class="to-fill">(EN) RPS Reviews:</span>
                        <br>
                        <a href="https://www.rockpapershotgun.com/2017/05/17/bokida-heartfeld-reunion-review/">https://www.rockpapershotgun.com/2017/05/17/bokida-heartfeld-reunion-review/</a>
                    </p>
                    <p>
                        <span class="to-fill">(EN) Metacritic Page:</span>
                        <br>
                        <a href="http://www.metacritic.com/game/pc/bokida-heartfelt-reunion">http://www.metacritic.com/game/pc/bokida-heartfelt-reunion</a>
                    </p>
                    <p>
                        <span class="to-fill">Steam Page:</span>
                        <br>
                        <a href="http://store.steampowered.com/app/612740/Bokida__Heartfelt_Reunion/">http://store.steampowered.com/app/612740/Bokida__Heartfelt_Reunion/</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>