<% include ./partials/header %>

<div class="article container">
    <div class="row">
        <div class="col-12">
            <img height="auto" width="100%" src="/images/BOKIDA_BANNER.png"/>
        </div>
    </div>
    
    <div class="row justify-content-center">
      <h1 class="center to-fill">BOKIDA - HEARTFELT REUNION | PC GAME (2013-2017)</h1>
    </div>

    <!--CONTEXT-->
    <div class="row justify-content-center">
        <div class="col-4 align-self-center divider"></div>
        <div class="col-md-2 col-sm-12">
            <h2 class="to-fill">{{getTextForThisBlock(1)}}</h2>
        </div>
        <div class="col-4 align-self-center divider"></div>
    </div>

  <div class="row justify-content-center">
      <div class="col-md-8 col-sm-12 justify-content-center">
          <p class="to-fill">{{getTextForThisBlock(2)}}</p>
          <p class="to-fill">{{getTextForThisBlock(3)}}</p>
          <p class="to-fill">{{getTextForThisBlock(4)}}</p>
          <p class="to-fill">{{getTextForThisBlock(5)}}</p>
      </div>
  </div>

  <!--MY TASKS-->
  <div class="row justify-content-center">
      <div class="col-4 align-self-center divider"></div>
      <div class="col-md-2 col-sm-12">
          <h2 class="to-fill">{{getTextForThisBlock(6)}}</h2>
      </div>
      <div class="col-4 align-self-center divider"></div>
  </div>

  <div class="row justify-content-center">
      <div class="col-auto">
          <p class="to-fill">{{getTextForThisBlock(7)}}</p>
      </div>
  </div>

  <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12">
            <h3 class="to-fill">{{getTextForThisBlock(8)}}</h3>
            <p class="to-fill">{{getTextForThisBlock(9)}}</p>
            <p class="to-fill">{{getTextForThisBlock(10)}}</p>
        </div>

      <div class="col-md-4 col-sm-12">
          <h3 class="to-fill">{{getTextForThisBlock(11)}}</h3>
          <p class="to-fill">{{getTextForThisBlock(12)}}</p>
          <p class="to-fill">{{getTextForThisBlock(13)}}</p>
      </div>

      <div class="col-md-3 col-sm-12">
          <h3 class="to-fill">{{getTextForThisBlock(14)}}</h3>
          <p class="to-fill">{{getTextForThisBlock(15)}}</p>
          <p class="to-fill">{{getTextForThisBlock(16)}}</p>
      </div>
  </div>

  <!--WHAT I LEARNED-->
    <div class="row justify-content-center">
        <div class="col-3 align-self-center divider"></div>
        <div class="col-md-4 col-sm-12">
            <h2 class="to-fill">{{getTextForThisBlock(17)}}</h2>
        </div>
        <div class="col-3 align-self-center divider"></div>
    </div>

    <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12">
                <img height="256px" width="100%" src="./assets/BOKIDA_370-256_1.png">
            </div>
        <div class="col-md-7 col-sm-12">
            <p class="to-fill">{{getTextForThisBlock(18)}}</p>    
            <p class="to-fill">{{getTextForThisBlock(19)}}</p>
        </div>
    </div>

    <!--WHAT I WOULD DO DIFFERENTLY-->
    <div class="row justify-content-center">
        <div class="col-2 align-self-center divider"></div>
        <div class="col-md-6 col-sm-12">
            <h2 class="to-fill">{{getTextForThisBlock(20)}}</h2>
        </div>
        <div class="col-2 align-self-center divider"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-7 col-sm-12">
            <p class="to-fill">{{getTextForThisBlock(21)}}</p>    
            <p class="to-fill">{{getTextForThisBlock(22)}}</p>
        </div>

        <div class="col-md-5 col-sm-12">
            <img height="256px" width="100%" src="./assets/BOKIDA_370-256_2.png">
        </div>
    </div>
    
    <!-- CREDITS -->
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div class="row justify-content-center">
                <div class="col-2 align-self-center divider"></div>
                <div class="col-md-4 col-sm-12">
                    <h2 class="to-fill">{{getTextForThisBlock(23)}}</h2>
                </div>
                <div class="col-2 align-self-center divider"></div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <ul>
                        <li class="to-fill"></li>
                        <li class="to-fill"></li>
                        <li class="to-fill"></li>
                        <li class="to-fill"></li>
                        <li class="to-fill"></li>
                        <li class="to-fill"></li>
                        <li class="to-fill"></li>
                        <li class="to-fill"></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- LINKS -->
        <div class="col-md-6 col-sm-12">
                <div class="row justify-content-center">
                    <div class="col-2 align-self-center divider"></div>
                    <div class="col-md-4 col-sm-12">
                        <h2 class="to-fill">{{getTextForThisBlock(32)}}</h2>
                    </div>
                    <div class="col-2 align-self-center divider"></div>
                </div>
    
                <div class="row justify-content-center">
                    <div class="col-12">
                        <p>{{getTextForThisBlock(33)}}<br>
                        <a href="{{getTextForThisBlock(34)}}">{{getTextForThisBlock(34)}}</a></p>
                        <p>{{getTextForThisBlock(35)}}<br>
                        <a href="{{getTextForThisBlock(36)}}">{{getTextForThisBlock(36)}}</a></p>
                        <p>{{getTextForThisBlock(37)}}<br>
                        <a href="{{getTextForThisBlock(38)}}">{{getTextForThisBlock(38)}}</a></p>
                        <p>{{getTextForThisBlock(39)}}<br>
                        <a href="{{getTextForThisBlock(40)}}">{{getTextForThisBlock(40)}}</a></p>
                    </div>
                </div>
            </div>
    </div>
</div>

<% include ./partials/footer %>