<% include ./partials/header %>

<div class="article container">
	<div class="row justify-content-center section">
		<h1 class="to-fill">CURRICULUM VITAE</h1>
	</div>
	
	<!--SUMMARY-->
	<div class="row justify-content-center section">
		<div class="col justify-content-center">
			<p class="to-fill">Junior web developer. I come from an interactive designe background and through web design I developped a liking for web development. I started my programming journey on game engines, mostly Unity and C#. My background in interactive design gives me a lot of tools to work in an agile team. I’m always learning and spent a lot of time learning how to learn.</p>
		</div>
	</div>
	
	<!-- EXPERIENCE -->
	<div class="section">
		<div class="row justify-content-center section-title">
			<div class="col-3 align-self-center divider"></div>
			<div class="col-lg-4 ">
				<h2 class="to-fill">EXPERIENCE</h2>
			</div>
			<div class="col-3 align-self-center divider"></div>
		</div>
		
		<div class="row justify-content-center mb-article">
			<div class="">
				<h3 class="to-fill">Bokida - Heartfelt Reunion (2013 - 2017)</h3>
				<ul>
					<li class="to-fill">PC game, Available on Steam</li>
					<li class="to-fill">In charge of the level design of interactive zones, iterative design process.</li>
					<li class="to-fill">Playtest coordinator, set up chatting plateform, handle bug reports and in charge of the communication with the testers. </li>
					<li class="to-fill">QA test, set up of the bug tracker, wrote bug reports, in depth test of various game systems in collaboration with the programmers.</li>
				</ul>
			</div>
			
			<div class="">
				<h3 class="to-fill">Le Raisin (2015)</h3>
				<ul>
					<li class="to-fill">Web site for a restaurant</li>
					<li class="to-fill">Wireframe layout, Graphic & UX design, Dialogue with the client.</li>
					<li class="to-fill">Programming with different langague : HTML, CSS, PHP, JS, mySQL. Versioning with git.</li>
					<li class="to-fill">Deployment on the client’s server</li>
				</ul>
			</div>
			
			<div class="">
				<h3 class="to-fill">Tanuki No Tama (2014)</h3>
				<ul>
					<li class="to-fill">PC game, free download</li>
					<li class="to-fill">Gameplay programmer, programming using Unity C# and different libraries.</li>
					<li class="to-fill">Game designer, iterative design procress. SCRUM based development</li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- FORMATION -->
	<div class="row justify-content-center">
		<!-- CREDITS -->
		<div class="col-lg-6 section">
			<div class="row justify-content-center section-title">
				<div class="col-2 align-self-center divider"></div>
				<div class="col-lg-4 ">
					<h2 class="to-fill">SKILLS</h2>
				</div>
				<div class="col-2 align-self-center divider"></div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-12">
					<ul>
						<li>HTML5, CSS3, <strong>JS</strong>, PHP</li>
						<li>Node, Express, React, Angular(2+)</li>
						<li>MongoDB, mySQL</li>
						<li>REST, Git, npm</li>
						<li>SCRUM, self-critism & questionning, Team Work</li>
						<li>Modeling complex systems</li>
					</ul>

					<h3>Softwares</h3>
					<ul>
						<li>Word, Excel, Power Point</li>
						<li>Postman, Visual Studio</li>
						<li>Illustrator, Photoshop, InDesign</li>
						<li>3d Studio Max, Unity 3d</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- FORAMTION -->
		<div class="col-lg-6">
			<div class="section">
				<div class="row justify-content-center section-title">
					<div class="col-1 align-self-center divider"></div>
					<div class="col-lg-6 ">
						<h2 class="to-fill">FORMATION</h2>
					</div>
					<div class="col-1 align-self-center divider"></div>
				</div>
				
				<div class="row justify-content-center">
					<div class="col-12">
						<table>
							<tr>
								<td class="date">2018 - 2022</td>
								<td class="formation">Bachelor Software Engineer</td>
							</tr>
							<tr>
								<td></td>
								<td class="school">HEIG-VD | Yverdon-les-bains (CH)</td>
							</tr>
							<tr>
								<td class="date">2018</td>
								<td class="formation">Web Dev Online Bootcamp</td>
							</tr>
							<tr>
								<td></td>
								<td class="school">Udemy (www)</td>
							</tr>
							<tr>
								<td class="date">2014</td>
								<td class="formation">DESS Game Design</td>
							</tr>
							<tr>
								<td></td>
								<td class="school">Université de Montreal | Montreal (CA)</td>
							</tr>
							<tr>
								<td class="date">2010 - 2013</td>
								<td class="formation">Bachelor Interactive Design</td>
							</tr>
							<tr>
								<td class="date"></td>
								<td class="school">ICAN | Paris (FR)</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			
			<!-- HOBBIES -->
			<div class="section">
				<div class="row justify-content-center">
					<div class="col-2 align-self-center divider"></div>
					<div class="col-lg-4 ">
						<h2 class="to-fill">HOBBIES</h2>
					</div>
					<div class="col-2 align-self-center divider"></div>
				</div>
				
				<div class="row justify-content-center">
					<div class="col-12">
						<ul>
							<li><strong>Rugby</strong>, practiced for 12 years. I enjoy its team spirit and brotherhood.</li>
							<li><strong>Cooking</strong>, an edible form of creation !</li>
							<li><strong>Guitar</strong>, a good way to relax and an ever-learning discipline</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>
