<% include ./partials/header %>

<div class="article container">
	<div class="row justify-content-center">
		<h1 class="center to-fill">CURRICULUM VITAE</h1>
	</div>
	

	<!--SUMMARY-->
	<div class="row justify-content-center">
			<div class="col-md-8 col-sm-12 justify-content-center">
					<p class="to-fill">Junior web developer. I come from an interactive designe background and through web design I developped a liking for web development. I started my programming journey on game engines, mostly Unity and C#. My background in interactive design gives me a lot of tools to work in an agile team. I’m always learning and spent a lot of time learning how to learn.</p>
			</div>
	</div>

	<!-- EXPERIENCE -->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-md-4 col-sm-12">
				<h2 class="to-fill">EXPERIENCE</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>

	<div class="row justify-content-center mb-article">
		<div class="col-sm-12">
				<h3 class="to-fill">Bokida - Heartfelt Reunion (2013 - 2017)</h3>
				<ul>
					<li class="to-fill">PC game, Available on Steam</li>
					<li class="to-fill">In charge of the level design of interactive zones, iterative design process.</li>
					<li class="to-fill">Playtest coordinator, set up chatting plateform, handle bug reports and in charge of the communication with the testers. </li>
					<li class="to-fill">QA test, set up of the bug tracker, wrote bug reports, in depth test of various game systems in collaboration with the programmers.</li>
				</ul>
		</div>

		<div class="col-sm-12">
			<h3 class="to-fill">Le Raisin (2015)</h3>
			<ul>
				<li class="to-fill">Web site for a restaurant</li>
				<li class="to-fill">Wireframe layout, Graphic & UX design, Dialogue with the client.</li>
				<li class="to-fill">Programming with different langague : HTML, CSS, PHP, JS, mySQL. Versioning with git.</li>
				<li class="to-fill">Deployment on the client’s server</li>
			</ul>
		</div>

		<div class="col-sm-12">
			<h3 class="to-fill">Tanuki No Tama (2014)</h3>
			<ul>
				<li class="to-fill">PC game, free download</li>
				<li class="to-fill">Gameplay programmer, programming using Unity C# and different libraries.</li>
				<li class="to-fill">Game designer, iterative design procress. SCRUM based development</li>
			</ul>
		</div>
	</div>

	<!-- FORMATION -->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-md-4 col-sm-12">
				<h2 class="to-fill">FORMATION</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>

	<div class="row justify-content-center mb-article">
		<div class="col-sm-12">
				<h3 class="to-fill">Bokida - Heartfelt Reunion (2013 - 2017)</h3>
				<ul>
					<li class="to-fill">PC game, Available on Steam</li>
					<li class="to-fill">In charge of the level design of interactive zones, iterative design process.</li>
					<li class="to-fill">Playtest coordinator, set up chatting plateform, handle bug reports and in charge of the communication with the testers. </li>
					<li class="to-fill">QA test, set up of the bug tracker, wrote bug reports, in depth test of various game systems in collaboration with the programmers.</li>
				</ul>
		</div>
	</div>

</div>

<% include ./partials/footer %>
