<% include ./partials/header %>

<div class="article container">
    <div class="row">
        <div class="col-12">
            <img height="auto" width="100%" src="/images/BannerPH_PFV2.png" />
        </div>
    </div>

    <div class="row justify-content-center">
        <h1 class="center to-fill">ABOUT ME</h1>
    </div>

    <div class="row justify-content-center mb-article">
        <div class="col-md-8 col-sm-12 justify-content-center">
            <p class="to-fill">Je viens d’une formation de game designer, cette discipline puise dans de nombreuses autres tel que l’ergonomie, les sciences cognitives, l’architecture et sciences humaine (sociologie, antropologie, …). A travers le prisme du game design j’ai étendu mes connaissances et me suis interessé à d’autres domaines, notamment le web design et la programmation. Cette dernière m’attirant de par son coté rationel, je retrouve dans la programmation ce qui me plait dans le design, chercher l’efficacité à travers la simplicité (less is more) sans le coté abstrait inérant au design.  Le programmation est plus pragramtique que le design tout en gardant l’aspect créatif.</p>
            <p class="to-fill">Je suis actuellement en cour de réorientation profressionnel vers le génie logiciel à l’HEIG-VD et recherche un emploi à temps partiel dans ce domaine. J’ai choisi l’HEIG-VD car elle propose une formation en emploi permettant d’acquerir de l’experience et d’appliquer directement ses connaissances en milieu professionnnel.</p>
        </div>
    </div>
</div>

<% include ./partials/footer %>