<% include ./partials/header %>

<div class="article container">
    <div class="row">
        <div class="col-12">
            <img height="auto" width="100%" src="/images/BannerPH_PFV2.png" />
        </div>
    </div>

    <div class="section">
        <div class="row justify-content-center section-title">
            <h1 class="to-fill">ABOUT ME</h1>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-lg-8 justify-content-center">
                <p class="to-fill">I come from a <strong>game design</strong> training, this discipline draws on many others such as ergonomics, cognitive science, architecture and social sciences (sociology, anthropology, …). Through the prism of game design I extended my knowledge and got interested in other areas, including <strong>web design</strong> and <strong>programming</strong>. The latter attracts me by its rational side which resonate with the way I think. I find in programming what I like in design, <strong>looking for efficiency through simplicity</strong> without the abstract aspect inherent in design. In my eyes, <strong>Programming is more hands on than design while keeping the creative aspect</strong>.</p>
                <p class="to-fill">I am currently in the process of a professional reorientation towards <strong>software engineering</strong> at <strong>HEIG-VD</strong> and looking for a <strong>part-time job</strong> in this field. I chose the HEIG-VD because it offers a <strong>work-study formation</strong> that allows to gain experience and apply theorical knowledge in a professional environment as well as financially support myself during the formation.</p>
                <p class="to-fill">You will find in this portfolio a description of my <strong>main projects</strong>, through which I learned the most. Each project is presented in the form of a brief post post mortem. For more information you can contact me at damien.fangous[at]gmail.com.</p>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>