<% include ./partials/header %>

<div class="article container">
	<div class="row">
		<div class="col-12">
			<img height="auto" width="100%" src="/images/BannerPH_PFV2.png" />
		</div>
	</div>
	
	<div class="row justify-content-center">
		<h1 class="center to-fill">VARIOUS PROJECTS (2013-2017)</h1>
	</div>
	
	<!--MOBILE GAMES-->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-md-4 col-sm-12">
			<h2 class="to-fill">Mobile Prototypes</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-10 col-sm-12 justify-content-center">
			<p class="to-fill">I was drawn to mobile games because the support and their use orients the design toward a simple manipulation, an efficient and refined UI and a depth of game mechanics based on the elegance of the game design.</p>
			<p class="to-fill">Here are 2 examples of idea I prototyped and the one page document I did for each:</p>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12">
			<h3 class="to-fill">CA</h3>
			<p class="to-fill">The proof of concept for SIFA. I had done little programming when did this prototype and had to learn how to handle player’s inputs on the touch screen and how to stream from Unity to my smartphone.</p>
			<div class="row justify-content-center">
				<div class="col-md-6 col-sm-6 center">
					<button>CA | ONE PAGE</button>
				</div>
		
				<div class="col-md-6 col-sm-6 center">
					<button>CA | PROTO</button>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12">
				<h3 class="to-fill">Tiny Rider</h3>
				<p class="to-fill">In this game you control indirectly a ball by modifying the ground's shape, it is a mix between Tiny Wings and Line Rider. I was mostly limited by my technical skills and Unity’s physics.<br><br></p>
				<div class="row justify-content-center">
					<div class="col-md-6 col-sm-6 center">
						<button>TR | ONE PAGE</button>
					</div>
			
					<div class="col-md-6 col-sm-6 center">
						<button>TR | PROTO</button>
					</div>
				</div>
			</div>
	</div>
	
	<!--GAME JAMS-->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-md-3 col-sm-12">
			<h2 class="to-fill">Game Jams</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-10 col-sm-12">
			<p class="to-fill">I participated in several game jams in diffent contries, France, Switzerland, Germany and Canada. I enjoy game james for several reasons:</p>
		</div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-3 col-sm-12">
			<h3 class="to-fill">Meet New People</h3>
			<p class="to-fill">It is always an enriching experience to work with new people, especially when you get to know them by working for 48 hours next to them. We have to quickly understand how to work, everyone’s weakness and how to help each other to reach our goals.</p>
		</div>

		<div class="col-md-6 col-sm-12">
			<h3 class="to-fill">The Strong Constaints</h3>
			<p class="to-fill">The strongest constraint is probably the limited 48h ; this forces us to manage time very efficiently, to no hesitate to scrap ideas and adopt an iteration based approach, starting from the bare minimum of our concept and enriching it little by little.</p>
			<p class="to-fill">Another interesting constraints to take in account is the skills of each members of the team, what they are used to work with. For example is the programmer more comfortable with Unity, game maker or a library HTML5/JS ? The artists art style, pixel art, 3D or flash ? Being aware of those help to orients the decisions and gives us a base to start with</p>
		</div>
		
		<div class="col-md-3 col-sm-12">
			<h3 class="to-fill">Projects Scope</h3>
			<p class="to-fill">As a designer I like being aware of every aspects of a project. Because of the time constraint, we have to keep the scope of the project small which makes the design very manageable. It also allows me to help members of the team when the design side is done.</p>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12">
			<p class="to-fill">Here are a few game jams projects I worked on:</p>
			<p>
					<span class="to-fill">Replay (2012) at Lilles, FR as a level designer</span>
					<br>
					<a href="https://vimeo.com/53589330">https://vimeo.com/53589330</a>
			</p>
			<p>
					<span class="to-fill">Benighted (2013) at Cologne, DE as a level designer</span>
					<br>
					<a href="http://2013.globalgamejam.org/2013/benighted">http://2013.globalgamejam.org/2013/benighted</a>
			</p>
			<p>
					<span class="to-fill">Temple of Hue (2014) at Montreal, CA as a GD and LD</span>
					<br>
					<a href="https://globalgamejam.org/2014/games/temple-hue">https://globalgamejam.org/2014/games/temple-hue</a>
			</p>
			<p>
					<span class="to-fill">Les Aventures du Briand (2016 & 2017) at Geneva, CH as a GD</span>
					<br>
					<a href="https://breathinggames.net/?q=fr/health-game-jam-lift-16">https://breathinggames.net/?q=fr/health-game-jam-lift-16</a>
					<br>
					<a href="https://breathinggames.net/?q=fr/health-game-jam-lift-17">https://breathinggames.net/?q=fr/health-game-jam-lift-17</a>
			</p>
			<p>
					<span class="to-fill">PoC Breath (2018) at Geneva, CH as a developper and designer</span>
					<br>
					<span class="to-fill">A digital toy to give respiratory patient feedback on their breath strength (developped in JS and HTML5</span>
					<br>
					<a href="https://thawing-cliffs-25110.herokuapp.com/">https://thawing-cliffs-25110.herokuapp.com/</a>
			</p>
		</div>

		<div class="col-md-6 col-sm-12">
			<img height="256px" width="100%" src="/images/MISC_450-256.png">
		</div>
	</div>
	
	<!--DESIGN DOCUMENTS-->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-md-4 col-sm-12">
			<h2 class="to-fill">Design Documents</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12">
			<h3 class="to-fill">War Redesign</h3>
			<p class="to-fill">During the time I played World of Warcraft I got frustrated with the changes Blizzard made with the warrior (my main character) and to ventilate my rage I decided to redesign it as I saw fit.</p>
			<p class="to-fill">I made a design document to present and explain the changes I suggested and I also made a prototype in google sheet to test the numbers of my redesign.</p>
			<div class="row justify-content-center">
				<div class="col-md-6 col-sm-6 center">
					<button>WR | DOC</button>
				</div>
		
				<div class="col-md-6 col-sm-6 center">
					<button>WR | PROTO</button>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12">
			<h3 class="to-fill">Soldiers</h3>
			<p class="to-fill">During my internship at Majesty House in England I developed a game concept from an lead game designer’s idea into a complete submission document for Sony Europe. I first did a paper prototype to test the concept, I then did several documents detailing how aspects of the game works and finally regroup every pertinent documents into a master document following Sony’s guidelines for a submission document.</p>
			<p class="to-fill">WARNING : This was the first time I wrote a document in english and it does not reflect my current english level!</p>
			<div class="row justify-content-center">
				<div class="col-md-6 col-sm-6 center">
					<button>SOLDIERS | DOC</button>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %> 
				
				