<div class="article container">
  <div class="row">
    <div class="col-12">
      <img height="auto" width="100%" src="./assets/BannerPH_PFV2.png" />
    </div>
  </div>
  
  <div class="row justify-content-center">
    <h1 class="center">{{getTextForThisBlock(0)}}</h1>
  </div>
  
  <!--MOBILE GAMES-->
  <div class="row justify-content-center">
    <div class="col-3 align-self-center divider"></div>
    <div class="col-md-4 col-sm-12">
      <h2>{{getTextForThisBlock(1)}}</h2>
    </div>
    <div class="col-3 align-self-center divider"></div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-12 justify-content-center">
      <P>{{getTextForThisBlock(2)}}</P>
      <p>{{getTextForThisBlock(3)}}</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
      <h3>{{getTextForThisBlock(4)}}</h3>
      <p>{{getTextForThisBlock(5)}}</p>
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-6 center">
          <button>CA | ONE PAGE</button>
        </div>
    
        <div class="col-md-6 col-sm-6 center">
          <button>CA | PROTO</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <h3>{{getTextForThisBlock(6)}}</h3>
        <p>{{getTextForThisBlock(7)}}<br><br></p>
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 center">
            <button>CA | ONE PAGE</button>
          </div>
      
          <div class="col-md-6 col-sm-6 center">
            <button>CA | PROTO</button>
          </div>
        </div>
      </div>
  </div>
  
  <!--GAME JAMS-->
  <div class="row justify-content-center">
    <div class="col-3 align-self-center divider"></div>
    <div class="col-md-3 col-sm-12">
      <h2>{{getTextForThisBlock(8)}}</h2>
    </div>
    <div class="col-3 align-self-center divider"></div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-12">
      <p>{{getTextForThisBlock(9)}}</p>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-12">
      <h3>{{getTextForThisBlock(10)}}</h3>
      <p>{{getTextForThisBlock(11)}}</p>
    </div>

    <div class="col-md-6 col-sm-12">
      <h3>{{getTextForThisBlock(12)}}</h3>
      <p>{{getTextForThisBlock(13)}}<br>
        {{getTextForThisBlock(14)}}</p>
    </div>
    
    <div class="col-md-3 col-sm-12">
      <h3>{{getTextForThisBlock(15)}}</h3>
      <p>{{getTextForThisBlock(16)}}</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
      <p>{{getTextForThisBlock(17)}}</p>
      <p>{{getTextForThisBlock(18)}}<br>
      <a href="{{getTextForThisBlock(19)}}">{{getTextForThisBlock(19)}}</a></p>
      <p>{{getTextForThisBlock(20)}}<br>
      <a href="{{getTextForThisBlock(21)}}">{{getTextForThisBlock(21)}}</a></p>
      <p>{{getTextForThisBlock(22)}}<br>
      <a href="{{getTextForThisBlock(23)}}">{{getTextForThisBlock(23)}}</a></p>
      <p>{{getTextForThisBlock(24)}}<br>
      <a href="{{getTextForThisBlock(25)}}">{{getTextForThisBlock(25)}}</a><br>
      <a href="{{getTextForThisBlock(26)}}">{{getTextForThisBlock(26)}}</a></p>
    </div>

    <div class="col-md-6 col-sm-12">
      <img height="256px" width="100%" src="./assets/MISC_450-256.png">
    </div>
  </div>
  
  <!--DESIGN DOCUMENTS-->
  <div class="row justify-content-center">
    <div class="col-3 align-self-center divider"></div>
    <div class="col-md-4 col-sm-12">
      <h2>{{getTextForThisBlock(27)}}</h2>
    </div>
    <div class="col-3 align-self-center divider"></div>
  </div>
  
  <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
        <h3>{{getTextForThisBlock(28)}}</h3>
        <p>{{getTextForThisBlock(29)}}</p>
        <p>{{getTextForThisBlock(30)}}</p>
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 center">
            <button>WR | DOC</button>
          </div>
      
          <div class="col-md-6 col-sm-6 center">
            <button>WR | PROTO</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 col-sm-12">
          <h3>{{getTextForThisBlock(31)}}</h3>
          <p>{{getTextForThisBlock(32)}}</p>
          <p>{{getTextForThisBlock(33)}}</p>
          <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6 center">
              <button>SOLDIERS | DOC</button>
            </div>
          </div>
        </div>
    </div>
  
</div>
      
        
        