<div class="center container" id="header">
    <div class="row justify-content-center">
        <div class="col-12">
            <a href="/">
                <div class="row justify-content-center">
                    <h1 class="">DAMIEN FANGOUS</h1>
                </div>

                <div class="row justify-content-center">
                    <div class="col-2 align-self-center divider"></div>
                    <div class="col-md-4 col-sm-12">
                        <h2 class="">Designer Portfolio</h2>
                    </div>
                    <div class="col-2 align-self-center divider"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="center container" id="pf_icons">
    <div class="row justify-content-center">
      <span class="icon col-auto"> 
          <a href="/bokida" id="icon1">
              <img border="0" alt="bokida" src="./assets/BOKIDA_ICON.png">
          </a>
      </span>

      <span class="icon col-auto">
          <a href="/raisin" id="icon1">
              <img border="0" alt="bokida" src="./assets/RAISIN_ICON.png">
          </a>
      </span>

      <span class="icon col-auto"> 
          <a href="/sifa" id="icon1" class="">
              <img border="0" alt="bokida" src="./assets/SIFA_ICON.png" width="48" height="48">
          </a>
      </span>

      <span class="icon col-auto"> 
          <a href="/tanuki" id="icon1" class="">
              <img border="0" alt="bokida" src="./assets/TANUKI_ICON.png" width="48" height="48">
          </a>
      </span>

      <span class="icon col-auto"> 
          <a href="/misc" id="icon1" class="">
              <img border="0" alt="bokida" src="./assets/MISC_ICON.png" width="48" height="48">
          </a>
      </span>

      <span class="icon col-auto"> 
          <a href="/cv" id="icon1" class="">
              <img border="0" alt="bokida" src="./assets/CV_ICON.png" width="48" height="48">
          </a>
      </span>
    </div>
</div>
