<% include ./partials/header %>

<div class="article container">
    <div class="row">
        <div class="col-12">
            <img height="auto" width="100%" src="/images/RAISIN_BANNER.png" />
        </div>
    </div>
    
    <div class="row justify-content-center section">
        <h1 class="to-fill">LE RAISIN | WEBSITE (2016)</h1>
    </div>
    
    <!--CONTEXT-->
    <div class="section">
        <div class="row justify-content-center section-title">
            <div class="col-3 align-self-center divider"></div>
            <div class="col-lg-3">
                <h2 class="to-fill">Context</h2>
            </div>
            <div class="col-3 align-self-center divider"></div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-8 justify-content-center">
                <p class="to-fill">Le Raisin is a restaurant’s web site. The goal was to present the restaurant to customers and create a tool for the owner to update his weekly menus.</p>
                <p class="to-fill">I took this job as a challenge for myself. I started learning web programming and wanted to work on a project with real constraints, not just something I do for myself but a product for a client, answering his needs with all the problematics that come with.</p>
                <p class="to-fill">It was a segemented 3 months project. I started working on the design and had to wait for the owner’s approval, having difficulties with the restaurant’s oppening we had to postpone the website’s development for a few months The programming part took a few weeks, it was a side project during the development of Bokida.</p>
            </div>
        </div>
    </div>
    
    <!--MY TASKS-->
    <div class="section">
        <div class="row justify-content-center section-title">
            <div class="col-3 align-self-center divider"></div>
            <div class="col-lg-4">
                <h2 class="to-fill">My Tasks</h2>
            </div>
            <div class="col-3 align-self-center divider"></div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h3 class="to-fill">UX Design</h3>
                <p class="to-fill">The graphical charter having been done by my sister previously I already had the branding and the logo. I have been able to concentrate on the UX. I used Adobe Illustrator to create my wireframes and mockups.</p>
                <h4 class="to-fill">Visitor Side</h4>
                <p class="to-fill">My goal was to create a one page web site with everything available easily and a clean look. My biggest constraint was my technical skills that I tried to turn to my advantage. I used a simple layout with tabs organized by section. The most important part was the « Menu » section where the user could find the lunch formula, the dishes, suggestions and the wines. Each of thoses sub section has a different layout.</p>
                <h4 class="to-fill">Admin Side</h4>
                <p class="to-fill">Concerning the admin side I mostly needed to do something functional and easy to use as it would only be used by the owner and the cook. They needed to be able to update the lunch formula, the dishes and the suggestions.</p>
            </div>
            
            <div class="col-lg-5">
                <h3 class="to-fill">Programming</h3>
                <p class="to-fill">I used Bootstrap as a base for the CSS and did everything else from scratch (cf. What I Would Do Differently).</p>
                <p class="to-fill">I wrote everything in HTML and JS except for my API that I wrote in PHP which was at the time the only server side language I knew. I chose JS instead of PHP for the dynamic content for its comfort in use for the user.</p>
                <img height="128 px" width="100%" src="/images/RAISIN_370-128.png">
            </div>
        </div>
    </div>
    
    <!-- WHAT I LEARNED -->
    <div class="section">
        <div class="row justify-content-center section-title">
            <div class="col-3 align-self-center divider"></div>
            <div class="col-lg-4">
                <h2 class="to-fill">What I Learned</h2>
            </div>
            <div class="col-3 align-self-center divider"></div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-5 img">
                <img height="370 px" width="100%" src="/images/RAISIN_370-370.png">
            </div>
            <div class="col-lg-7">
                <p class="to-fill">It was a good training and a formative way to apply the theory I learned prior to this project. Before it, I just did some exercises and had never developed a full website. As a beginner I fell in most beginners traps such as web browers compatibility, special characters in SQL requests, character encoding and more. Those are types of mistakes that I am now able to anticipate and identify.</p>    
                <p class="to-fill">My favorite part of the website is the admin side as it is where there are the most interactions. I tried to make it as usable as my programming skills allowed. Adding feedbacks when updating content, automatically fillind text fields from the database, instantly adding or deleting text fields. I also created a delayed update that allowed the client to update his menu at a later date. Sadly I was not able to implement it as the client’s server did not allow « on schedule » requests.</p>   
                <p class="to-fill">A challenging part of the project was the communication with the client. It was not always easy to get a clear answer and find exactly what he wanted (not being sure himself). To ease the communication I tried to explain my design choices with anotated mock ups and made several suggestions for each iteration.</p>
            </div>
        </div>
    </div>
    
    <!-- WHAT I WOULD DO DIFFERENTLY -->
    <div class="section">
        <div class="row justify-content-center section-title">
            <div class="col-2 align-self-center divider"></div>
            <div class="col-lg-6">
                <h2 class="to-fill">What I Would Do Differently</h2>
            </div>
            <div class="col-2 align-self-center divider"></div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <p class="to-fill">I would use a framework or a library to simplify server requests and compatibility issues such as Angular, React or Vue. I really enjoy coding with JS and in the future I would like to learn more tools using this language.</p>    
                <p class="to-fill">On the design side I would now go for a bolder design while keeping the clean and simple look. I would use bigger titles, more spacing between sections, get rid of the carousel. I would also take  the pictures myself to get a better quality and, knowing where they would go, be more pertinent.</p>
                <p class="to-fill">For my next web project I would use prototyping software better suited for web design than Illustrator such as Axure RP, Pencil or InVision. Illustrator is good to test different layouts rapidly but offers no features to test navigation and interactivity.</p>
            </div>
            
            <div class="col-lg-5 img">
                <img height="256px" width="100%" src="/images/RAISIN_370-256.png">
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <!-- EXTERNAL LINKS -->
        <div class="col-12 section">
            <div class="row justify-content-center section-title">
                <div class="col-3 align-self-center divider"></div>
                <div class="col-lg-3">
                    <h2 class="to-fill">Links</h2>
                </div>
                <div class="col-3 align-self-center divider"></div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-12">
                    <p>
                        <span class="to-fill">(FR) Website (backup):</span>
                        <br>
                        <a href="http://damifa.fr/raisin/">http://damifa.fr/raisin/</a>
                    </p>
                    <p>
                        <span class="to-fill">(FR) Admin side:</span>
                        <br>
                        <a href="http://damifa.fr/raisin/admin/admin.html">http://damifa.fr/raisin/admin/admin.html</a>
                    </p>
                    <p>
                        <span class="to-fill">Bitbucket repository:</span>
                        <br>
                        <a href="https://bitbucket.org/DamiFa/raisin_cafe/">https://bitbucket.org/DamiFa/raisin_cafe/</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
            
            
<% include ./partials/footer %>