<% include ./partials/header %>

<div class="article container">
	<div class="row">
		<div class="col-12">
			<img height="auto" width="100%" src="/images/SIFA_BANNER.png" />
		</div>
	</div>
	
	<div class="row justify-content-center">
	  <h1 class="to-fill">SIFA | MOBILE GAME (2015)</h1>
	</div>

	<!--CONTEXT-->
	<div class="row justify-content-center">
		<div class="col-4 align-self-center divider"></div>
		<div class="col-lg-2">
			<h2 class="to-fill">Context</h2>
		</div>
		<div class="col-4 align-self-center divider"></div>
	</div>

  <div class="row justify-content-center">
	  <div class="col-lg-8 justify-content-center">
		  <p class="to-fill">SIFA (project name : Curing Ass) is plateform game, where the player have to cure a patient from the inside using his bacteria power.</p>
		  <p class="to-fill">I started the project with Killian Lhomme in 2012 but we did not had the time to work on it untill 2015. We formed a small team with a programmer and an other artist. We worked on it for 9 months but had to abandon the project (once again) because we did not had time for a side project with our respective main project taking too much time, in my case Bokida.</p>
		  <p class="to-fill">I hope to be able to reboot the project to finally finish it someday !</p>
	  </div>
  </div>

  <!--MY TASKS-->
  <div class="row justify-content-center">
	  <div class="col-4 align-self-center divider"></div>
	  <div class="col-lg-2">
		  <h2 class="to-fill">My Tasks</h2>
	  </div>
	  <div class="col-4 align-self-center divider"></div>
  </div>

  <div class="row justify-content-center">
	  <div class="col">
		  <p class="to-fill">I had several tasks simultaneously during the project:</p>
	  </div>
  </div>

  <div class="row justify-content-center">
		<div class="col-lg-4">
			<h3 class="to-fill">Project Manager/Lead</h3>
			<p class="to-fill">The task that took the much time was leading and managing everyones tasks. To help me I used Asana and Trello for communication and to track tasks.</p>
			<p class="to-fill">We had weekly meetings to keep everyone in the loop. As the guarantor of the game’s experience, I was always available to every member to answer questions or help them.</p>
		</div>

	  <div class="col-lg-4">
		  <h3 class="to-fill">Game Designer</h3>
		  <p class="to-fill">As a game designer I was in charge of formalizing and working on the core elements of the game, the player progression and the player experience in general.</p>
		  <p class="to-fill">I tried my best to keep my documents consistent from one to another, keeping the same structure, using sketchs or diagram and as concise as possible.</p>
	  </div>

	  <div class="col-lg-4">
		  <h3 class="to-fill">Level Designer</h3>
		  <p class="to-fill">For a mobile game I wanted my levels to be short and fast paced. I used mostly 2 tools to help me design them, a RLD (Rational Level Design) and a Macro Design.</p>
		  <p class="to-fill">I then created my level parts following my RLD, and assembled them to create my levels following my Macro Design to offer a smooth experience in difficulty and how new elements were introduced.</p>
	  </div>
  </div>

  <!--WHAT I LEARNED-->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-lg-4">
			<h2 class="to-fill">What I Learned</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>

	<div class="row justify-content-center">
			<div class="col-lg-5 img">
				<img height="auto" width="100%" src="/images/SIFA_370-180.png">
			</div>
		<div class="col-lg-7">
			<p class="to-fill">We used git as our versioning engine. This was my first time using it. I also thaught the team how to use it (several times) which helped me understand better how it works. We also used GitHub as our remote repository to make it easier for everyone to download and try the project.</p>    
			<p class="to-fill">This was a realy good training as a level designer. I very much enjoyed the process of creating my levels in parts, makes variants and building level from those parts. I was also looking for an opportunity to practice the RLD as it was a factual design process that echo with my way of thinking.</p>
		</div>
	</div>

	<!--WHAT I WOULD DO DIFFERENTLY-->
	<div class="row justify-content-center">
		<div class="col-2 align-self-center divider"></div>
		<div class="col-lg-6">
			<h2 class="to-fill">What I Would Do Differently</h2>
		</div>
		<div class="col-2 align-self-center divider"></div>
	</div>

	<div class="row justify-content-center">
		<div class="col-lg-4">
			<p class="to-fill">My main issue was to keep everyone invested in the project. This last being interesting and fun was not enough as we all had financial and time constraints. If I had to do it again I would look for money and plan it as a business beforehand.</p>    
			<p class="to-fill">I looked at business incubators or subvention but none were viable option as we were scattered between Canada and France and did not had enough money to apply for subventions.</p>
		</div>

		<div class="col-lg-8">
			<div class="row">
				<div class="col img">
					<img height="256px" width="100%" src="/images/LA_IDLE_&_TIRE.gif">
				</div>
		
				<div class="col img">
					<img height="256px" width="100%" src="/images/BABY_LA_IDLE_to_TIRE.gif">
				</div>
			</div>
		</div>
	</div>
	
	<!-- CREDITS -->
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="row justify-content-center">
				<div class="col-2 align-self-center divider"></div>
				<div class="col-lg-4">
					<h2 class="to-fill">Credits</h2>
				</div>
				<div class="col-2 align-self-center divider"></div>
			</div>

			<div class="row justify-content-center">
				<div class="col-12">
					<ul>
						<li>DAMIEN FANGOUS</li>
						<li>KILLIAN LHOMME</li>
						<li>ANDRE MONTEIRO</li>
						<li>JAMES FAUVELLE</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- LINKS -->
		<div class="col-lg-6">
				<div class="row justify-content-center">
					<div class="col-2 align-self-center divider"></div>
					<div class="col-lg-4">
						<h2 class="to-fill">Links</h2>
					</div>
					<div class="col-2 align-self-center divider"></div>
				</div>
	
				<div class="row justify-content-center">
					<div class="col-12">
						<p>
							<span class="to-fill">(FR) Design Documents:</span>
							<br>
							<a href="https://drive.google.com/open?id=1wbjcU8sFF4gZc8CRevN3ujBCPY6RbNEw">https://drive.google.com/open?id=1wbjcU8sFF4gZc8CRevN3ujBCPY6RbNEw</a>
						</p>
					</div>
				</div>
			</div>
	</div>

</div>

<% include ./partials/footer %>