<div class="article container">
	<div class="row">
		<div class="col-12">
			<img height="auto" width="100%" src="./assets/SIFA_BANNER.png" />
		</div>
	</div>
	
	<div class="row justify-content-center">
	  <h1 class="center">{{getTextForThisBlock(0)}}</h1>
	</div>

	<!--CONTEXT-->
	<div class="row justify-content-center">
		<div class="col-4 align-self-center divider"></div>
		<div class="col-md-2 col-sm-12">
			<h2>{{getTextForThisBlock(1)}}</h2>
		</div>
		<div class="col-4 align-self-center divider"></div>
	</div>

  <div class="row justify-content-center">
	  <div class="col-md-8 col-sm-12 justify-content-center">
		  <P>{{getTextForThisBlock(2)}}</P>
		  <p>{{getTextForThisBlock(3)}}</p>
		  <p>{{getTextForThisBlock(4)}}</p>
	  </div>
  </div>

  <!--MY TASKS-->
  <div class="row justify-content-center">
	  <div class="col-4 align-self-center divider"></div>
	  <div class="col-md-2 col-sm-12">
		  <h2>{{getTextForThisBlock(5)}}</h2>
	  </div>
	  <div class="col-4 align-self-center divider"></div>
  </div>

  <div class="row justify-content-center">
	  <div class="col-auto">
		  <p>{{getTextForThisBlock(6)}}</p>
	  </div>
  </div>

  <div class="row justify-content-center">
		<div class="col-md-4 col-sm-12">
			<h3>{{getTextForThisBlock(7)}}</h3>
			<p>{{getTextForThisBlock(8)}}</p>
			<p>{{getTextForThisBlock(9)}}</p>
		</div>

	  <div class="col-md-4 col-sm-12">
		  <h3>{{getTextForThisBlock(10)}}</h3>
		  <p>{{getTextForThisBlock(11)}}</p>
		  <p>{{getTextForThisBlock(12)}}</p>
	  </div>

	  <div class="col-md-4 col-sm-12">
		  <h3>{{getTextForThisBlock(13)}}</h3>
		  <p>{{getTextForThisBlock(14)}}</p>
		  <p>{{getTextForThisBlock(15)}}</p>
	  </div>
  </div>

  <!--WHAT I LEARNED-->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-md-4 col-sm-12">
			<h2>{{getTextForThisBlock(16)}}</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>

	<div class="row justify-content-center">
			<div class="col-md-5 col-sm-12">
				<img height="auto" width="100%" src="./assets/SIFA_370-180.png">
			</div>
		<div class="col-md-7 col-sm-12">
			<p>{{getTextForThisBlock(17)}}</p>    
			<p>{{getTextForThisBlock(18)}}</p>
		</div>
	</div>

	<!--WHAT I WOULD DO DIFFERENTLY-->
	<div class="row justify-content-center">
		<div class="col-2 align-self-center divider"></div>
		<div class="col-md-6 col-sm-12">
			<h2>{{getTextForThisBlock(19)}}</h2>
		</div>
		<div class="col-2 align-self-center divider"></div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-4 col-sm-12">
			<p>{{getTextForThisBlock(20)}}</p>    
			<p>{{getTextForThisBlock(21)}}</p>
		</div>

		<div class="col-md-4 col-sm-6">
			<img height="256px" width="100%" src="./assets/LA_IDLE_&_TIRE.gif">
		</div>

		<div class="col-md-4 col-sm-6">
			<img height="256px" width="100%" src="./assets/BABY_LA_IDLE_to_TIRE.gif">
		</div>
	</div>
	
	<!-- CREDITS -->
	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12">
			<div class="row justify-content-center">
				<div class="col-2 align-self-center divider"></div>
				<div class="col-md-4 col-sm-12">
					<h2>{{getTextForThisBlock(22)}}</h2>
				</div>
				<div class="col-2 align-self-center divider"></div>
			</div>

			<div class="row justify-content-center">
				<div class="col-12">
					<p>{{getTextForThisBlock(23)}}<br>
					{{getTextForThisBlock(24)}}<br>
					{{getTextForThisBlock(25)}}<br>
					{{getTextForThisBlock(26)}}</p>
				</div>
			</div>
		</div>

		<!-- LINKS -->
		<div class="col-md-6 col-sm-12">
				<div class="row justify-content-center">
					<div class="col-2 align-self-center divider"></div>
					<div class="col-md-4 col-sm-12">
						<h2>{{getTextForThisBlock(27)}}</h2>
					</div>
					<div class="col-2 align-self-center divider"></div>
				</div>
	
				<div class="row justify-content-center">
					<div class="col-12">
						<p>{{getTextForThisBlock(28)}}<br>
						<a href="{{getTextForThisBlock(29)}}">{{getTextForThisBlock(29)}}</a></p>
					</div>
				</div>
			</div>
	</div>

</div>
