<div class="article container">
	<div class="row">
		<div class="col-12">
			<img height="auto" width="100%" src="./assets/TANUKI_BANNER.png" />
		</div>
	</div>
	
	<div class="row justify-content-center">
		<h1 class="center">{{getTextForThisBlock(0)}}</h1>
	</div>
	
	<!--CONTEXT-->
	<div class="row justify-content-center">
		<div class="col-4 align-self-center divider"></div>
		<div class="col-md-2 col-sm-12">
			<h2>{{getTextForThisBlock(1)}}</h2>
		</div>
		<div class="col-4 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-12 justify-content-center">
			<P>{{getTextForThisBlock(2)}}</P>
			<p>{{getTextForThisBlock(3)}}</p>
			<p>{{getTextForThisBlock(4)}}</p>
		</div>
	</div>
	
	<!--MY TASKS-->
	<div class="row justify-content-center">
		<div class="col-4 align-self-center divider"></div>
		<div class="col-md-2 col-sm-12">
			<h2>{{getTextForThisBlock(5)}}</h2>
		</div>
		<div class="col-4 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-12">
			<h3>{{getTextForThisBlock(6)}}</h3>
			<p>{{getTextForThisBlock(7)}}</p>
			<p>{{getTextForThisBlock(8)}}</p>
			<p>{{getTextForThisBlock(9)}}</p>
		</div>
		
		<div class="col-md-4 col-sm-12">
			<img height="256px" width="100%" src="./assets/TANUKI_290-256.png">
		</div>
	</div>
	
	<!--WHAT I LEARNED-->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-md-4 col-sm-12">
			<h2>{{getTextForThisBlock(10)}}</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-5 col-sm-12">
			<img height="256px" width="100%" src="./assets/TANUKI_370-256.png">
		</div>
		<div class="col-md-7 col-sm-12">
			<p>{{getTextForThisBlock(11)}}</p>    
			<p>{{getTextForThisBlock(12)}}</p>
		</div>
	</div>
	
	<!--WHAT I WOULD DO DIFFERENTLY-->
	<div class="row justify-content-center">
		<div class="col-2 align-self-center divider"></div>
		<div class="col-md-6 col-sm-12">
			<h2>{{getTextForThisBlock(13)}}</h2>
		</div>
		<div class="col-2 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-7 col-sm-12">
			<p>{{getTextForThisBlock(14)}}</p>    
			<p>{{getTextForThisBlock(15)}}</p>
		</div>
		
		<div class="col-md-5 col-sm-12">
			<img height="200px" width="100%" src="./assets/TANUKI_370-200.png">
		</div>
	</div>
	
	<!-- CREDITS -->
	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12">
			<div class="row justify-content-center">
				<div class="col-2 align-self-center divider"></div>
				<div class="col-md-4 col-sm-12">
					<h2>{{getTextForThisBlock(16)}}</h2>
				</div>
				<div class="col-2 align-self-center divider"></div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-12">
					<p>{{getTextForThisBlock(17)}}<br>
						{{getTextForThisBlock(18)}}<br>
						{{getTextForThisBlock(19)}}<br>
						{{getTextForThisBlock(20)}}</p>
					</div>
				</div>
			</div>
			
			<!-- LINKS -->
			<div class="col-md-6 col-sm-12">
				<div class="row justify-content-center">
					<div class="col-2 align-self-center divider"></div>
					<div class="col-md-4 col-sm-12">
						<h2>{{getTextForThisBlock(21)}}</h2>
					</div>
					<div class="col-2 align-self-center divider"></div>
				</div>
				
				<div class="row justify-content-center">
					<div class="col-12">
						<p>{{getTextForThisBlock(22)}}<br>
						<a href="{{getTextForThisBlock(23)}}">{{getTextForThisBlock(23)}}</a></p>
						<p>{{getTextForThisBlock(24)}}<br>
						<a href="{{getTextForThisBlock(25)}}">{{getTextForThisBlock(25)}}</a></p>
						<p>{{getTextForThisBlock(26)}}<br>
						<a href="{{getTextForThisBlock(27)}}">{{getTextForThisBlock(27)}}</a></p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
					
					