<% include ./partials/header %>

<div class="article container">
	<div class="row">
		<div class="col-12">
			<img height="auto" width="100%" src="/images/TANUKI_BANNER.png" />
		</div>
	</div>
	
	<div class="row justify-content-center">
		<h1 class="center to-fill">TANUKI NO TAMA | PC GAME (2014)</h1>
	</div>
	
	<!--CONTEXT-->
	<div class="row justify-content-center">
		<div class="col-4 align-self-center divider"></div>
		<div class="col-md-2 col-sm-12">
			<h2 class="to-fill">Context</h2>
		</div>
		<div class="col-4 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-12 justify-content-center">
			<p class="to-fill">Tanuki No Tama is a multiplayer party game in which players dashes across the screen to defend the Tanuki against waves of demons.</p>
			<p class="to-fill">It is a student projet on which I worked during my DESS at Montreal University (UdeM). We were a team of 4 and I worked on the project for 6 months as a gameplay programer and game designer. I had never been the core programmer on a project prior to Tanuki No Tama and it was an interesting challenge for me.</p>
			<p class="to-fill">Our minimal goal was to have a playable prototype and from there try and push it as close as possible to a marketable game. We ended the 6 months with a polishable game but enjoyable nonetheless. We were able to get all the core feature we wanted but still had room to enrich them (add more power ups for example). We were also happy with the look and feel thanks to our technical designer who was able to juice up the game and make it flashier and more satisfying.</p>
		</div>
	</div>
	
	<!--MY TASKS-->
	<div class="row justify-content-center">
		<div class="col-4 align-self-center divider"></div>
		<div class="col-md-2 col-sm-12">
			<h2 class="to-fill">My Tasks</h2>
		</div>
		<div class="col-4 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-12">
			<h3 class="to-fill">Gameplay Programmer</h3>
			<p class="to-fill">I had a central role in the team as the gameplay programmer, I was in charge of creating the core features and the tools that allowed the rest of the team to try and tweak those.</p>
			<p class="to-fill">I worked on Unity and used C# for my scripts. I also used the library iTween to draw and easily managed enemies paths.</p>
			<p class="to-fill">We had an iteration based approach which meant that I had made my code as clean and modular as possible to be able to modify it easily. For example, our main feature went from a simple walk and dash to a walk, lock and dash to a simple lock and dash. We did several tries for each steps but having this appoach in mind, we were able to iterate quickly and not be too slowed by the programming side.</p>
		</div>
		
		<div class="col-md-4 col-sm-12">
			<img height="256px" width="100%" src="/images/TANUKI_290-256.png">
		</div>
	</div>
	
	<!--WHAT I LEARNED-->
	<div class="row justify-content-center">
		<div class="col-3 align-self-center divider"></div>
		<div class="col-md-4 col-sm-12">
			<h2 class="to-fill">What I learned</h2>
		</div>
		<div class="col-3 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-5 col-sm-12">
			<img height="256px" width="100%" src="/images/TANUKI_370-256.png">
		</div>
		<div class="col-md-7 col-sm-12">
			<p class="to-fill">To help us manage our tasks and time we used a SCRUM approach. Every day we met to keep every one up to date of each other’s tasks and problems. We kept tracks of ongoing and upcoming tasks with Trello (with the extension « SCRUM for Trello »). I took a liking in this method as it is easy to set up and less stressful than a more linear method.</p>    
			<p class="to-fill">This project helped shape my current design approach. Prior to Tanuki No Tama I spent a lot of time planning and thinking about a feature instead of prototyping it and have a concrete base to work on. I was afraid to lose time developing it and wanted to anticipate and plan every detail beforehand. But I ended up still having to spend time tweaking and modifying my feature after developing it. Now I still spend time planing but I try to start prototyping as soon as I have enough material to work with and iterate from there.</p>
		</div>
	</div>
	
	<!--WHAT I WOULD DO DIFFERENTLY-->
	<div class="row justify-content-center">
		<div class="col-2 align-self-center divider"></div>
		<div class="col-md-6 col-sm-12">
			<h2 class="to-fill">What I would do differently</h2>
		</div>
		<div class="col-2 align-self-center divider"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-7 col-sm-12">
			<p class="to-fill">We lacked  design documents to better communicate our ideas, most of the time we only discussed our ideas or implemented them directly into to the prototype. This approach was not too problematic with this project but if we were a bigger team it would have been hard to keep everyone aware of modifications on the game.</p>    
			<p class="to-fill">I would also keep some time to do a better job at debugging and use one or two other team member to help me track bugs. The bugs that were left were not critical but if I had more time to fix them, the experience would have been smoother.</p>
		</div>
		
		<div class="col-md-5 col-sm-12">
			<img height="200px" width="100%" src="/images/TANUKI_370-200.png">
		</div>
	</div>
	
	
	<div class="row justify-content-center">
		<!-- CREDITS -->
		<div class="col-md-6 col-sm-12">
			<div class="row justify-content-center">
				<div class="col-2 align-self-center divider"></div>
				<div class="col-md-4 col-sm-12">
					<h2 class="to-fill">Credits</h2>
				</div>
				<div class="col-2 align-self-center divider"></div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-12">
					<ul>
						<li>DAMIEN FANGOUS</li>
						<li>EMILIE G.BERGERON</li>
						<li>MOURA MELONDEAU</li>
						<li>RAPHAEL TOULOUSE</li>
					</ul>
				</div>
			</div>
		</div>
			
		<!-- LINKS -->
		<div class="col-md-6 col-sm-12">
			<div class="row justify-content-center">
				<div class="col-2 align-self-center divider"></div>
				<div class="col-md-4 col-sm-12">
					<h2 class="to-fill">Links</h2>
				</div>
				<div class="col-2 align-self-center divider"></div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-12">
					<p>
						<span class="to-fill">Gameplay Video:</span>
						<br>
						<a href="https://www.youtube.com/watch?v=TUZe9LYxZCI">https://www.youtube.com/watch?v=TUZe9LYxZCI</a>
					</p>
					<p>
						<span class="to-fill">(FR) Emilie’s words on the project:</span>
						<br>
						<a href="http://www.emiliegbergeron.com/portfolio/tanuki-no-tama/">http://www.emiliegbergeron.com/portfolio/tanuki-no-tama/</a>
					</p>
					<p>
						<span class="to-fill">(FR) From the faculty:</span>
						<br>
						<a href="http://design2014.umontreal.ca/design_de_jeux/projet/Tanuki%20No%20Tama">http://design2014.umontreal.ca/design_de_jeux/projet/Tanuki%20No%20Tama</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>		
<% include ./partials/footer %>