body{
    font-family: 'Roboto';
    text-align: center;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
    text-decoration: underline;
}

a{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

ul{
    padding-left: 0;
}

li{
    list-style-type: none;
}

#header a h1{
    font-weight: bold;
    font-size: 2.6rem;
    color: black;
}

#header a h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

#header a:link, #pf_icons a:link, #header a:visited, #pf_icons a:visited, #header a:hover, #pf_icons a:hover, #header a:active, #pf_icons a:active {
  text-decoration: none;
}

.divider {
    border-bottom: 1px solid black;
}

.article img{
  border: 1px solid black;
  height: auto;
  width: 100%;
}



#pf_icons img {
    width: 4rem;
    height: 4rem;
}

#pf_icons img:hover {
    transform: scale(1.5);
}

/* BUTTON STYLING */
button {
    background-color: #FFFFFF;
    border: solid 3px black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(.17,.89,.5,1.32);
}

button:hover {
    box-shadow: inset 0px 0px 0px 2px black;
}

button:active{
    box-shadow: inset 0px 0px 0px 3px black;
    background-color: #DFDFDF;
}

button:focus{
    outline: none;
}

/* SLIDER */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 45px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

select{
    display: block;
}

.inputs {
    position: fixed; /* Set the navbar to fixed position */
    top: 1em; /* Position the navbar at the top of the page */
    z-index: 10;
    background-color: rgba(255,255,255,0.6);
    padding: 0.5em;
    border: 1px solid #DFDFDF;
}

/* TABLE STYLING */
table tr:nth-of-type(2n) td{
    padding-bottom: 0.5em;
    font-style: italic;
    font-weight: 300;
}

table td.date{
    font-weight: 300;
    width: 35%;
    text-align: right;
    padding-right: 1em;
}

td.formation, td.school{
    text-align: left;
}

table{
    width: 100%;
}

@media screen and (max-width: 576px)
{
    html{
        font-size: 75%;
    }
}